## .NET Core ##
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.lock.json
*.swp
*.swo

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet packages
*.nupkg
.nuget/
nuget.exe

# Local development cache
.localhistory/

# Rider IDE
.idea/

# VS Code
.vscode/